################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hospital Management System/bin/Debug/net6.0
/Hospital Management System/obj
