@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>ALIVE</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
     <script type="text/javascript" src=js/bootstrap.min.js></script>
     <link rel="stylesheet" type="text/css" href="css/project.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body class="p-3 m-0 border-0 bd-example">

<!---
<nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: red; font-size: 60px; font-family: gothic; font-weight: 500;">ALIVE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
             </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
            </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" spellcheck="false" data-ms-editor="true">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    End Example Code -->
    <nav class="navbar navbar-expand-md  navbar-dark" style="background-color: #4f0409;">
  <a class="navbar-brand" href="#" style="color: red; font-size: 60px; font-family: gothic; font-weight: 500;background-color: #fff; border-radius: 10px;">ALIVE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="project.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="blog.html">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="register.html">Our Sign Up</a>
      </li>
      <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
             </ul>
            </li>
            <li  class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
            </ul>    
    </ul>
    <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" spellcheck="false" data-ms-editor="true">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
  </div>  
</nav>
<br>




<section id="one">
    <div class="container-fluid-sm">
    <h2>Stay<span class="te" style="color: red; font-weight: bolder;"> ALIVE</span></h2>
        </div>
    </div>
</section>
<section id="pic">
    <div style="position: relative; left: 0; top: 0;">
        <a href="#"><img src="images/HIV-testing_0.png" class="fishes" style="width: 100%" /></a>
        <div class="shot">
        <a href="#"><img src="images/INTERNET.jpg" class="fish" style="width: 30%;" /></a>
        <div class="centered">
                <a href="#"><button type="button" class="btn btn-danger">CHAT WITH OTHER POZ</button></a>

        </div>
    </div>
</div>
</section>

<div class="container-fluid" style="margin-top: 40px; margin-bottom: 40px;">

        <div class="row" style="justify-content: center;">
            <div class="col-6 col-sm-3, col-md-3 col-lg-3" style="background-color: pink;margin-right: 6px; text-align: center; ">
                <a href="#" style="text-decoration: none;"><i class="fa fa-hospital-o" aria-hidden="true" style="color:red; font-size: 48px;"></i><h2 class="h" style="font-size: 12px;color: #ad120c;">COVAX<br> Book a day for COVID19 Vaccination.</h2></a>

            </div>
            <div class="col-3 col-sm-3, col-md-3 col-lg-3" style="background-color: pink;margin-right: 6px; text-align: center; color: #ad120c;">
                <a href="#" style="text-decoration: none;"><i class="fa fa-shopping-cart" style="font-size:48px;color:red"></i><h2 class="h" style="font-size: 12px;color: #ad120c;">Order for Test Kits</h2></a>
            </div>
            <div class="col-3 col-sm-3, col-md-3 col-lg-3" style="background-color: pink; margin-right: 6px; text-align: center;">
                <a href="#" style="text-decoration: none;"><i class="fa fa-commenting" style="font-size:48px;color:red"></i><h2 class="h" style="font-size: 12px;color: #ad120c;">Talk to a doctor</h2>
            </div>

            </div>
        </div>
    </div>



<!--<section id="ten">
    <div class="container-fluid" style="width: 100%; height: 100%;">
        <div class="poz">

            <div class="row">

                <div class=" box col-3 col-md-12, col-sm-12, col-lg-12" style="box-sizing: border-box;">
                    <a href="#"><h3><i class="fa fa-question" style="font-size:48px;color:red"></i>Am i at risk?</h3></a>
                </div>
                <div class="box col-3 ">
                    <a href="#"><h3><i class="fa fa-shopping-cart" style="font-size:48px;color:red"></i>Order for test kit</h3></a>
                </div>
                <div class="box col-3">
                    <a href="#"><h3><i class="fa fa-commenting" style="font-size:48px;color:red"></i>
                        Talk To a Healthcare Provider</h3></a>
                </div>
                <div class="box col-3">
                    <a href="#"><h3><i class="fa fa-hospital-o" aria-hidden="true" style="color:red; font-size: 48px;"></i>Nearby Clinic</h3></a>
                </div>
            </div>
        </div>
    </div>-->

</section>


<div id="demo" class="carousel slide" data-ride="carousel">
    <div class="container-fluid">
          <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
         </ul>
         <div class="carousel-inner" role="listbox">
             <div class="carousel-item active">
                  <img src="images/a.jpg" alt="Los Angeles">
              <div class="carousel-caption">
                    <h3>HIV IS NOT A DEATH SENTENCE</h3>

             </div>   
            </div>
            <div class="carousel-item">
                <img src="images/b.jpg" alt="Chicago">
              <div class="carousel-caption">
                      <h3>END THE STIGMA</h3>

                  </div>   
                </div>
                <div class="carousel-item">
                  <img src="images/c.jpg" alt="New York">
              <div class="carousel-caption">
                        <h3>I'M NOT SICK</h3>
                  </div>
              </div>
              <div class="carousel-item">
                  <img src="images/d.jpg" alt="New York">
              <div class="carousel-caption">
                        <h3>YOU CAN BE WHATEVER YOU WISH TO BE</h3>
              </div>
          </div>
                  <div class="carousel-item">
                      <img src="images/e.jpg" alt="New York">
                      <div class="carousel-caption">
                        <h3>YOU CAN GIVE BIRTH TO HIV NEGATIVE BABIES</h3>
                      </div>
                  </div>
                  <div class="carousel-item">
                          <img src="images/f.jpg" alt="New York">
                      <div class="carousel-caption">
                        <h3>WITH ARV, I LIVE HEALTHIER AN LONGER</h3>
                      </div>
                  </div>
                  <div class="carousel-item">
                          <img src="images/g.jpg" alt="New York">
                      <div class="carousel-caption">
                        <h3>DON'T LET NOBODY TELL YOU OTHER</h3>
                      </div>
                  </div>
                  <div class="carousel-item">
                          <img src="images/l.webp" alt="New York">
                      <div class="carousel-caption">
                        <h3>NEVER SAY NEVER</h3>
                      </div>
                  </div>
                  <div class="carousel-item">
                          <img src="images/i.jpg" alt="New York">
                      <div class="carousel-caption">
                        <h3>WE ARE STILL THE SONS OF GOD</h3>
                      </div>
                  </div>
              </div>
          </div>
          <a class="left-carousel-control" href="#demo" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"aria hidden="true"></span>
              <span class="sr-only">previous</span>
         </a>
          <a class="right-carousel-control" href="#demo" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"aria hidden="true"></span>
            <span class="sr-only">next</span>
          </a>
    </div>
</div>

<div class="pcr">
        <div class="vl">
            <img src="images/3632.webp" style="background-position: cover; width: 100%; height: 500px;">
        </div>
        <div class="test" style="color:#4f0409; margin-top: 10px; padding-top: 15px;">
            <h3>VIRAL LOAD AND CD4 TESTING</h3>
            <P>Lower Viral laod and higher CD4 count increases your chances of living healthier and longer <br> DO YOU KNOW?</P>
            <h2>Click here to order for a viral load and CD4 count test</h2>
            <a href="#"><button type="button" class="btn1 btn btn-danger" style="padding-top: 10px;">YES</button></a>
        </div>
    </div>


    <div class="container-fluid" style="margin-left: 30px; margin-bottom: 10px; margin-top: 20px; justify-content: space-between;">
            <div class="row">
                <div class="col-3">
                    <img src="images/CONDOM.jpg" style="width: 300PX; height: 300px;">
                </div>
                <div class="col-3">
                    <img src="images/get-a-flu-shot-hiv.jpg" style="width: 300PX; height: 300px;">
                </div>
                <div class="col-3">
                <img src="images/hep.jpg" style="width: 300PX; height: 300px;">
                </div>	
                <div class="col-3">
                    <img src="images/monk.jpg" style="width: 300PX;height: 300px;">
                </div>
            </div>
        </div>


<section id="partners mt-4 text-center">

    <div class="container mt-4" style="background-color: #f56e77;">
        <h2 class="part" style="text-align: center;color:#ad120c;;">OUR PARTNERS</h2>
        <div class="container">
        <div class="row">
            <div class="col-12" style="justify-content: space-around; ">

                <img src="images/who.jpg" style="width: 100PX; height: 70PX;">
                <img src="images/NIH.png" style="width: 100PX; height: 70PX;">
                <img src="images/cdc.png" style="width: 100PX; height: 70PX;">
                <img src="images/UNICEF.png" style="width: 100PX; height: 70PX;">
                <img src="images/naca.jpg" style="width: 100PX; height: 70PX;">
                <img src="images/fhi.jpg" style="width: 100PX; height: 70PX;">
                <img src="images/sfh.jpg" style="width: 100PX; height: 70PX;">
                <img src="images/fmh.jpg" style="width: 100PX; height: 70PX;">
                <img src="images/nph.jpg" style="width: 100PX; height: 70PX;">
                <img src="images/ncdc.png" style="width: 100PX; height: 70PX;">
                <img src="images/nafdac.png" style="width: 100PX; height: 70Px;">
                <img src="images/nma.jpg" style="width: 100PX; height: 70PX;">
            </div>
        </div>
    </div>
</section>

<section id="end">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h3 class="text" style="padding-bottom: 10px; color:#4f0409; margin-left: 30px;font-weight: bolder; ">Contact us</h3>
                <h4 class="contact" style="font-family:curasive; font-size: 18px; font-weight: bolder; font-style: bold italic;">
                    <i class="fa fa-phone" aria-hidden="true" style="color:#ff0000;"></i><a href="#">  +2349015559037</h4></a>
                <h4 class="contact"style="font-family:curasive; font-size: 18px; font-weight: bolder; font-style: bold italic;"><i class="fa fa-google" aria-hidden="true" style="color:#ffff00;"></i><a href="#"> Aive@gmail.com</h4></a>
                <h4 class="contact"style="font-family:curasive; font-size: 18px; font-weight: bolder; font-style: bold italic;"><i class="fa fa-linkedin" aria-hidden="true"style="color:#fff;"></i><a href="#"> ALIVE.org</h4></a>
                <h4 class="contact"style="font-family:curasive; font-size: 18px; font-weight: bolder; font-style: bold italic;"><i class="fa fa-whatsapp" aria-hidden="true"style="color:green;"></i><a href="#">  +2348167067522</h4></a>
                <h4 class="contact"style="font-family:curasive; font-size: 18px; font-weight: bolder; font-style: bold italic;"><i class="fa fa-facebook" aria-hidden="true"style="color:#4b0082;"></i><a href="#"> fb.com/page/Alive</h4></a>
                <h4 class="contact"style="font-family:curasive; font-size: 18px; font-weight: bolder; font-style: bold italic; color: #fff;"><i class="fa fa-twitter" aria-hidden="true" style="color:#0000ff;"></i>  <a href="#">ALIVE.org</h4></a>
            </div>

            <div class="pi col-4">
            <img src="images/u.jpg" style="width: 100%; height: 50%;">
            </div>
        </div>
    </div>
</section>



<footer id="foot">
    <div class="container-fluid">
        <h4>Copyright &2022; <span style="color: red">Alive.com</span></h4>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>



</body>
</html>























